<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>BA0010UA</h1>
    <input type="text" ng-model="BA0010UA.text">
    <button type="submit" ng-click="BA0010UA.send()">送信</button>
</body>

<script src="/common/WebApi.js"></script>
<script src="BA0010UApi.js"></script>
<script src="BA0010UModel.js"></script>
<script src="BA0010UA.js"></script>
<!-- <script>
    let bt1 = document.body.querySelector("#bt1");
    bt1.onclick = () => {
        let tx1 = document.body.querySelector("#tx1");
        alert(tx1.value);
    };
</script> -->

</html>